/* Global styles */
body {
    font-family: monospace;
}

/* Header styles */
h1 {
    background-color: #41506b;
    color: black;
    display: inline-block;
    font-size: 2em;
    margin: 0;
    padding: 10px;
}

/* Chatbox container styles */
#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: 60px;
}

/* User input container styles */
#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

/* Text input field styles */
#textInput {
    width: 90%;
    border: none;
    border-bottom: 3px solid black;
    font-family: monospace;
    font-size: 17px;
    margin-bottom: 10px;
}

/* User text message styles */
.userText {
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 25px;
}

/* Styling for user text span */
.userText span {
    background-color: #8cfff3;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 8px 7px 6px 5px #888888;
}

/* Bot text message styles */
.botText {
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 8px 7px 6px 5px #888888;
}

/* Styling for bot text span */
.botText span {
    padding: 10px;
    border-radius: 2px;
}

/* Additional styles for tidbit */
#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}

/* Boxed container styles */
.boxed {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 60px;
    border: 1px solid #a4a49e;
    background-color: #a4a49e;
}

/* Box styles */
.box {
    border: 2px solid black;
}
