<!DOCTYPE html>
<html>
<title>Conversational AI-Chatbot</title>

<head>
  <!-- Include jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <!-- Include custom styles Jinja2 template-->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <center>
    <h1>
      Introducing The ChatBot!
    </h1>
  </center>

  <!-- Main chat interface -->
  <div class="box"></div>
  <div class="boxed">
    <div>
      <!-- Chat messages container -->
      <div id="chatbox">

        <!-- Bot's initial message -->
        <span><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/ai-robot-5-1089411.png" alt="Hello"
            width="25"></span>
        <span>
          <p class="botText">
            <span>Hi! I'm 'ChatBot', an AI-driven conversational chatbot. Ask me anything!</span>
          </p>
        </span>
      </div>

      <!-- User input field -->
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Enter message here..." />
      </div>
    </div>
  </div>

  <!-- Include custom JavaScript Jinja2 template-->
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>